  .Btn__Wrapper {
    display: flex;
    flex-direction: row;
  }

  .Btn__Container {
    display: flex;
    flex-direction: row;
  }

  .Btn {
    width: 144px;
    height: 42px;
    background: none;
    color: inherit;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid $green;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition-duration: 0.4s;

    img {
      position: relative;
      top: -1px;
      width: 16px;
      filter: invert(43%) sepia(16%) saturate(906%) hue-rotate(46deg) brightness(100%) contrast(91%);
    }
  }

  .Btn:hover {
    color: $green--light;
    background-color: $green;

    img {
      filter: invert(95%) sepia(3%) saturate(94%) hue-rotate(347deg) brightness(93%) contrast(113%);
    }
  }

  .Btn__Error {
    position: relative;
    top: -5px;
    color: black
  }